@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--cream);
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.main__container {
    width: 90%;
    height: 80%;
    background-color: var(--white);
    border-radius: 1rem;
    margin-top: 2rem;
}

    .container__image {
        width: 100%;
        height: 37%;
        background-image: url("../images/image-product-mobile.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 1rem 1rem 0 0;
    }

    .container__detail {
        height: 60%;
        padding: 1rem 1rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.5rem;
    }

        .container__detail-title {
            font-family: var(--fontMont);
            color: var(--dark-grayish-blue);
            font-size: 1rem;
            margin: 1rem 0;
        }

        .container__detail-name {
            font-size: 2.5rem;
            font-weight: bolder;
        }

        .container__detail-sub {
            font-family: var(--fontMont);
            color: var(--dark-grayish-blue);
            font-size: 1rem;
            line-height: 1.5rem;
        }

        .container__detail-subtext {
            display: flex;
            gap: 1rem;
            align-items: center;
        }

        .container__detail-subtext > h2 {
            font-family: var(--fontFraunces);
            font-size: 2.5rem;
            color: var(--dark-cyan);
        }

        .container__detail-subtext > p {
            color: var(--dark-grayish-blue);
        }

        .container__detail-link {
            width: 19rem;
            background-color: var(--dark-cyan);
            padding: 1.5rem;
            border-radius: 1rem;
            align-self: center;
            text-decoration: none;
            color: var(--white);
            font-size: 1.5rem;
            text-align: center;
        }